@import url('../common.css');

@keyframes banner-img {
  from {
    opacity: 0;
    margin-right: -50px;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes banner-text {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  50% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 180px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes icon-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.banner {
  height: 450px;
  background: url(/assets/banner-bg.jpg) left bottom no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 400px) {
  .banner {
    height: auto;
  }
}

.bannerImg {
  float: right;
  animation: banner-img 1.5s linear 0s 1;
  width: 382px;
  height: auto;
}

@media (max-width: 400px) {
  .bannerImg {
    width: 300px;
  }
}

.bannerText {
  margin-right: 250px;
  text-align: center;
  font-weight: 700;
  margin-top: 180px;
  animation: banner-text 2s linear 0s 1;
  position: absolute;
}

@media (max-width: 400px) {
  .bannerText {
    margin-right: 0;
  }
}

.bannerTextTop {
  color: #aa11cc;
  margin-bottom:20px;
  font-size: 40px;
  letter-spacing: 10px;
}

@media (max-width: 400px) {
  .bannerTextTop {
    font-size: 25px;
    letter-spacing: normal;
  }
}

.bannerTextBottom {}

@media (max-width: 400px) {
  .bannerTextBottom {
    color: #ff4629;
  }
}

.bannerTextBottomItem {
  font-size: 24px;
  opacity: 0;
  animation: fade-in 2.5s linear 0.5s 1;
}

.whatToDo {
  margin: 40px 0 60px;
}

.whatToList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-flow: row nowrap;
}

@media (max-width: 400px) {
  .whatToList {
    flex-flow: row wrap;
  }
}

.whatToItem {
  padding: 0 10px 0 20px;
  text-align: center;
}

@media (max-width: 400px) {
  .whatToItem {
    min-width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .whatToItemDropOnMobile {
    display: none;
  }
}

.whatToItemIcon {
  color: #ff4629;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.whatToItem:hover .whatToItemIcon {
  animation: icon-jump 0.4s linear 0s 1;
}

.feedBack {
  margin: 40px 0 60px;
}

.feedBackList {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .feedBackList {
    flex-direction: column;
  }
}

.feedBackColumn {
  max-width: 560px;
  width: 49%;
}

@media (max-width: 400px) {
  .feedBackColumn {
    width: 100%;
  }
}

.feedBackItem {
  margin-bottom: 15px;
}

.feedBackItemTitle {
  margin-bottom: 10px;
}

.feedBackItemMedia {
  text-align: center;
  margin-bottom: 10px;
}

.feedBackItemText {}

.promo {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .promo {
    flex-direction: column;
  }
}

.promoColumn {
  width: 560px;
}

@media (max-width: 400px) {
  .promoColumn {
    width: auto;
  }
}