@import url('../common.css');

@keyframes banner-img {
  from {
    opacity: 0;
    margin-right: -50px;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes banner-text {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  50% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 180px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes icon-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.banner {
  height: 450px;
  background: url(/assets/banner-bg.jpg) left bottom no-repeat;
  background-size: cover;
  overflow: hidden;
}

.bannerImg {
  float: right;
  animation: banner-img 1.5s linear 0s 1;
}

.bannerText {
  margin-right: 250px;
  text-align: center;
  font-weight: 700;
  margin-top: 180px;
  animation: banner-text 2s linear 0s 1;
}

.bannerTextTop {
  color: #aa11cc;
  margin-bottom:20px;
  font-size: 40px;
  letter-spacing: 10px;
}

.bannerTextBottom {}

.bannerTextBottomItem {
  font-size: 24px;
  opacity: 0;
  animation: fade-in 2.5s linear 0.5s 1;
}

.whatToDo {
  margin: 40px 0 60px;
}

.whatToList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.whatToItem {
  padding: 0 10px 0 20px;
  text-align: center;
}

.whatToItemIcon {
  color: #ff4629;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.whatToItem:hover .whatToItemIcon {
  animation: icon-jump 0.4s linear 0s 1;
}

.feedBack {
  margin: 40px 0 60px;
}

.feedBackList {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.feedBackColumn {
  width: 560px;
}

.feedBackItem {}

.feedBackItemTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feedBackItemMedia {
  margin-bottom: 10px;
}

.feedBackItemText {}

.feedBackMore {
  margin-top: 10px;
  text-align: right;
}

.promo {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.promoColumn {
  width: 560px;
}