@import url('../common.css');

.twoCols {
  overflow: hidden;
}

.twoColsRight {
  float: right;
  width: 500px;
}

@media (max-width: 400px) {
  .twoColsRight {
    display: none;
  }
}

.twoColsLeft {
  margin-right: 520px;
}

@media (max-width: 400px) {
  .twoColsLeft {
    margin-right: 0;
  }
}

.media {
  margin-bottom: 15px;
}