.bar {
  padding: 40px 0 0;
  text-align: right;
}

.bar::after {
  content: '';
  display: block;
  margin-top: 20px;
  background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(219,219,219,0) 20%,rgba(255,255,255,0) 100%);
  height: 30px;
}

.link {
  display: inline-block;
  margin-right: 10px;
}

.linkHome {
  margin-right: 15px;
  text-decoration: none;
}

.root {}

@media (max-width: 420px) {
  .root {
    margin: 0 10px;
  }
}