@import url('../common.css');

.intro {
  width: 560px;
  margin: 0 auto 20px;
}

@media (max-width: 400px) {
  .intro {
    width: 100%;
  }
}

.optionsTableWrapper{}

@media (max-width: 400px) {
  .optionsTableWrapper {
    overflow-x: scroll;
  }
}

.optionsTable {
  border-collapse: collapse;
  width: 100%;
}

.optionHeader {
  font-size: 24px;
  font-weight: 700;
  min-width: 33%;
  text-align: center;
}

.optionShortDescription {
  color: #666;
  font-style: italic;
  text-align: center;
}

.optionLongDescription {}

.optionSubscribe {
  background-color: #fff1a4;
  color: #000;
  font-size: 13px;
  border-right: 30px solid #fff;
  padding: 5px 10px;
}

.optionSubscribe:last-child {
  border: 0;
}