@import url('../common.css');

.q {
  font-family: 'Forum', serif;
  border: 1px solid #000;
  border-width: 1px 0;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 400px) {
  .q {
    width: auto;
  }
}

.article {
  margin-bottom: 60px;
}

.pic {
  float: right;
  margin: 30px 0 30px 30px;
}

@media (max-width: 400px) {
  .pic {
    float: none;
    margin-right: -10px;
    margin-left: -10px;
  }

  .pic img {
    width: 100%;
  }
}