@import url('../common.css');

.foreword {
  width: 400px;
  float: right;
  font-family: 'Forum', serif;
}

.forewordAuthor {
  text-align: right;
}

.media {
  float: left;
  margin: 30px 30px 30px 0;
}

.gallery {
  margin: 20px 0;
}